<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../../stylesheets/bootstrap-responsive.css">
    <link rel="stylesheet" href="../../stylesheets/site.css">
</head>
<body>
<%- include ../header.html %>

<div class="container" id="main">
    <div class="row">
        <div>
            <h1 class="page-header">List
                <small>event type</small>
            </h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Event Type</li>
                <li class="float-right"><a href="/settings/createEventType" title="Create event type">Create event type</a></li>
            </ul>
        </div>
    </div>
    <div>
        <% if(data.length === 0) {  %>
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Note!</strong> No Records Available.
        </div>
        <% } else { %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Sr no.</th>
                    <th>Wiki Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=1; i<= data.length; i++) {
                    var s =  i-1;
                    var edit_path =  "/settings/" + data[s]['event_type_id']+ "/editevent" ;
                    var delete_path =  "/settings/" + data[s]['event_type_id']+ "/deleteEventType" ;
                %>
                <tr>
                    <td><%= parseInt(pager.currPage+i)  %></td>		
                    <td><%= data[s]['event_type'] %></td>
                    <td><a href=<%= edit_path %>>  Edit </a>  |  <a href=<%= delete_path %> onClick="javascript: return confirm('Confirm delete ?')">Delete</a></td>
                    
                </tr>
                 <% } %>
            </tbody>
        </table>
        <% } %>
        <div class="row">
       		<div class="pagination"><%- pager.pager_view %></div>
       	</div>
        
</div>
</div>
<script type="text/javascript" src="../../javascripts/jquery.js"></script>
<script type="text/javascript" src="../../javascripts/bootstrap.min.js"></script>
</body>
</html>