<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../../stylesheets/bootstrap-responsive.css">
    <link rel="stylesheet" href="../../stylesheets/site.css">
    <link rel="stylesheet" href="../../javascripts/jquery-ui/jquery-ui.min.css"></script> 
	<link rel="stylesheet" href="../../javascripts/jquery-ui/jquery-ui.structure.min.css"></script> 
	<link rel="stylesheet" href="../../javascripts/jquery-ui/jquery-ui.theme.min.css"></script>
</head>
<body>
<%- include ../header.html %>
<div class="container" id="main">
<div class="row">
        <div>
            <h1 class="page-header"><%= page_message %>
                <small>user group</small>
            </h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li><a href="/settings/listGroups/0">User Group List</a> <span class="divider">/</span></li>
                <li class="active">User Group</li>
            </ul>
        </div>
    </div>
    <div> <%- message %></div>
         
    
    <div id="regForm">
        <form action="<%= action %>" method="POST" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="group_name">Group Name</label>

                <div class="controls">
                    <input type="text" id="group_name" name="group_name" placeholder="Enter group name" value="<%= data.group_name ? data.group_name : '' %>" oninvalid="setCustomValidity('Please enter a Group name!')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                </div>
            </div>
             <div class="control-group">
                <label class="control-label" for="group_email">Group Email</label>
                <div class="controls">
                    <input type="email" id="group_email" name="group_email" placeholder="Enter group email" value="<%= data.group_email ? data.group_email : '' %>" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                </div>
            </div>           
            <div class="control-group">
                <label class="control-label" for="group_email">Add group users</label>
                <div class="controls">
					<div class="ui-widget">			
						<textarea class="searchList text-long-add txtarea_size" name="group_users" style=""><% 
	                		for(var i=0; i< group_users.length;i++){    
	                			if(group_users[i]['is_lead']!=1) { %><%= group_users[i]['username'] + "<" + group_users[i]['email'] + ">," %><%}} %></textarea>
					</div>
                </div>
            </div>                                  
            <div class="control-group">
                <label class="control-label" for="title_input">Assign Group Lead</label>
                <div class="controls">
                    <div class="ui-widget">			
						<textarea class="searchList text-long-add txtarea_size" name="group_lead" cols="100"><% 
	                		for(var i=0; i< group_users.length;i++){    
	                			if(group_users[i]['is_lead']==1) { %><%= group_users[i]['username'] + "<" + group_users[i]['email'] + ">," %><%}} %></textarea>
					</div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="hidden" id="group_id" name="user_group_id" value="<%= groupId %>">   
                    <input type="submit" name="Submit" value="Save" class="btn">
                    <input type="button" name="Cancel" value="Cancel" class="btn" id="cancel_btn">
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../../javascripts/jquery.js"></script>
<script type="text/javascript" src="../../javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../../javascripts/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../javascripts/autosize/jquery.autosize.min.js"></script> 
<script type="text/javascript" src="../../javascripts/autosuggestion.js"></script> 
<script>
$("#cancel_btn").click(function(e){
    window.location = "/settings/listGroups/0";
});
</script>
</body>
</html>