<div class="left_col">
	<div id="sidetree">
	<div class="treeheader">&nbsp;</div>	
		<ul id="tree" class="open">			
			<% for(var i=0; i< wiki_type.length; i++) {	 %>	
			<li><strong><%= wiki_type[i].wiki_type%> </strong>
			<% if(wiki_type[i].type_id == wiki_list[0]['wiki_type']){%>
			<ul>
			 	<%  
				    for(var j=1; j<= wiki_list.length; j++) {
				 		var s =  j-1;
				 		if(wiki_type[i].type_id == wiki_list[s]['wiki_type']){
				 			var view_path = "/wiki/" + wiki_list[s]['wiki_id']+"/view" ; %>
							<li><a href="<%= view_path %>" title="View"><%= wiki_list[s]['wiki_title'] %></a></li>
					<% 	}
					} %>
			</ul>
			 <% }%>
			
			</li>			
			<% } %>
		</ul>
	</div>
</div>