#main {
    margin-top: 54px;
}

#regForm {
    margin-top: 30px;
}

.hero-unit {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}
.marketing h1{
    margin-bottom: 54px;
}

.title-text {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 50px;
	line-height: 75px;
	color: #3B73AF;
}

ul.columns {
    list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.columns li {
    background-image: url(http://0.0-02.net/i/bt.gif);
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 14px; 

}

.pagination {
    background: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;   
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #ccc;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.float-right{
	float: right;
}

 .col-3{
	width : 20%;
	display: inline-block;
}

 .col-70{
	width : 70%;
}
 .col-30{
	width : 30%;
}
 .table-70{
	width : 70%;
}

.user-selection td{
	padding: 10px; 
}
.left_col{
	width: 200px;
	display: inline-block;
	float: left;
	padding: 10px;
	margin-top: 50px;
	border-right: 1px solid grey;
	position: absolute;
	bottom: 0px;
	top: 0px;
	overflow: auto;
}
.content {
	float:left;
	margin-left:300px;
	width:970px;
	margin-top:50px;	
	position: absolute;
}
.no_bottom_margin{
	margin-bottom: 0px; !important
}
.blue_text{
	color : #005580;
}
.small_text{
	font-size: 12px; !important
}
.export_link{
	margin-left:1100px;
	padding-bottom:5px;
	font-size:14px;
}
.txtarea_size{
	width:450px;
}
.padding-left-3px{
 	padding-left:3px;
}
.error{
	color: #ff0000;
}